
.secondHeader {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: Merriweather, 'Amatic Sc', Arial, Helvetica, sans-serif ;
}

.description-adrenathure {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: Merriweather, 'Amatic Sc', Arial, Helvetica, sans-serif ;
}


/* media query */

@media (max-width: 600px){

  .idAbout {
     flex-direction:column;
     }
  }
