@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=BioRhyme+Expanded:wght@300&family=Montserrat:wght@300;700&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.title {
  font-family: BioRhyme Expanded;
  font-size: xx-large;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  height: 250px;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.clientSpace {
  padding-top: 50px;
  padding-right: 75px;
  text-decoration: none;
  color: black;
}

.logout {
  padding-top: 50px;
  padding-right: 75px;
  text-decoration: none;
  color: black;
}

nav {
  height: 50px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding-bottom: 20px;
  align-items: flex-end;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navLinks {
  padding-right: 50px;
  text-decoration: none;
  color: black;
}

.emergente {
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(88, 72, 72);
  position: fixed;
  color: white;
}