/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=BioRhyme+Expanded:wght@300&family=Montserrat:wght@300;700&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=BioRhyme+Expanded:wght@300&family=BioRhyme:wght@200&family=Montserrat:wght@300;700&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,700;1,400;1,700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.title {
  font-family: BioRhyme Expanded;
  font-size: xx-large;
  font-weight: normal;
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: top;
  justify-content: center;
}

.allHeader {
  /* background-image: url('http://localhost:3000/oie_zagd0Yv2fsKz.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: 100vw;
  background-size: 100vh; */
  /* background-size: cover; */
  /* background-position: bottom; */
}

.transparencia {
  background-color: rgba(247, 247, 247, 0.5);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  height: 130px;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.clientSpace {
  padding-top: 50px;
  padding-right: 75px;
  text-decoration: none;
  color: black;
}

.logout {
  padding-top: 50px;
  padding-right: 75px;
  text-decoration: none;
  color: black;
}

nav {
  margin-bottom: 0px;
  height: 50px;
  display: flex;
  /* gap: 10px; */
  justify-content: space-around;
  /* padding-bottom: 20px; */
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navLinks {
  padding-right: 50px;
  text-decoration: none;
  color: black;
  border-right: solid 2px black;
  border-left: solid 2px black;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 23px;
}

.buttonUsername {
  margin-top: 50px;
  border: none;
  background-color: white;
  background-color: rgba(247, 247, 247, 0.5);
  font-size: 17px;
}

.dropdown {
  display: inline-block;
  position: relative;
  min-width: 120px;
}

.dropdown-content {
  background-color: white;
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #ddd;
}

.rrss {
  padding: 20px;
}

.rrss-selector {
  width: 25px;
  margin-right: 10px;
  margin-left: 0px;
  background-color: rgb(49, 119, 119);
  border-radius: 15px;
}

#carousel {
  background-color: rgba(68, 65, 60, 0.1);
  /* border: 1px solid black; */
  /* margin-left: 20px;
  margin-right: 20px; */
  padding: 30px;
}

.fotitos {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
