.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.modal-fg {
  display: flex;
  justify-content: baseline;
  gap: 5px;
  background-color: white;
  padding: 20px;
  z-index: 6;
}

select {
  padding: 3px 5px;
}

.button-modal {
  padding: 3px 5px;
}
