@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=BioRhyme+Expanded:wght@300&family=BioRhyme:wght@200&family=Montserrat:wght@300;700&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Indie+Flower&family=Merriweather:ital,wght@1,300&display=swap');

.portada-body {
  padding:0px 80px 50px 80px;
}

.idPortada {
  display: flex;
  align-items: center;
  padding: 20px;
}

.imgPortada {
  border: solid 2px black;
  padding: 10px;
  width: 650px;
  height: 350px
}

.texto-portada {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-family: Merriweather, 'Amatic Sc', Arial, Helvetica, sans-serif ;
}

.description-landing {
  font-weight: 400;
  line-height:180%;
  padding: 0;
}
