.searchBar {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content:center;
  gap: 150px;
  
}

.inputCalendarSearchBar {
  width: fit-content;
}


.buttons-searchBar {
  width: 250px;
  cursor: pointer;
}

.select {
display: flex;
gap: 100px;

}

.button-modalDates {
  width: fit-content;
  padding: 3px 5px;
}
.search {
  display: flex;
  gap: 40px;
}


.lupa {
  width:30px;
  height: 30px;
  cursor: pointer;
}

.contentSearch {
  display: block;
}

#calendarSearchBar {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
}

