.searchBar {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid black;
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.emergentSearch {
  width: 150px;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  color: black;
  text-decoration: none;
}

.resetSearch {
  width: 150px;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgb(85, 81, 81);
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
}

.contentSearch {
  display: block;
}