.searchBar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;

}
.selectSearchBar {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 justify-content: right;
 /* gap: 50px; */
}

.inputCalendarSearchBar {
  width: fit-content;
}


.buttons-searchBar {
  display: flex;
  justify-content: center;
  /* width: 250px; */
  cursor: pointer;
  /* min-width: 100px; */
}

.button-modalDates {
  width: fit-content;
  padding: 3px 5px;
}
.search {
  display: flex;
  justify-content: center;
  gap: 40px;
}


.lupa {
  width:30px;
  height: 30px;
  cursor: pointer;
}

.contentSearch {
  display: block;
}

#calendarSearchBar {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
}

@media (max-width: 600px) {

  .searchBar {
    display: block;
  }
  .selectSearchBar {
    padding-bottom: 20px;
  }
}
