.footer {
  color: white;
  background-color: rgb(50, 59, 56);
  bottom: 0;
}

.headerFooter {
  padding-top: 10px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

#footerHeader {
  font-family: BioRhyme Expanded;
  font-size: medium;
  text-transform: lowercase;
}

.footerNavLinks {
  display: flex;
  justify-content: center;
  color: white;
  flex-wrap: nowrap;
  gap: 100px;
  text-transform: uppercase;
}

#footerExperiences {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

#footerPlaces {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

#footerAbout {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

#footerContact {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

.footerLinks {
  display: flex;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-size: x-small;
}

.footerList {
  display: flex;
  text-transform: normal;
  flex-direction: column;
  text-decoration: none;
  color: white;
  text-transform: none;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: Merriweather, 'Amatic Sc', Arial, Helvetica, sans-serif;
  font-size: xx-small;
}

.footerExperience {
  display: flex;
  text-transform: normal;
  flex-direction: column;
  text-decoration: none;
  color: white;

}

#footerSocialMedia {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.footerEmail {
  display: flex;
  text-transform: normal;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

#email {
  width: 3vh;
  height: 1.5vw;
}

#phone {
  width: 2vh;
  height: 1vw;
}

.socialMedia {
  margin-top: 20px;
}

.footerEquipment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
}

#address {
  text-transform: none;
}

/* media query */

@media screen and (max-width: 500px) {

  .footer {
    color: white;
    background-color: rgb(50, 59, 56);
    height: fit-content;
  }
  .socialMedia {
    display: flex;
    justify-content: center;
    align-self: flex-start;
  }
  .headerFooter {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 2fr 2fr;
    padding-left: 10px;
    height: fit-content;
  }

  #footerHeader {
    font-family: BioRhyme Expanded;
    font-size: 8px;
    text-transform: lowercase;
    grid-column: 1;
    grid-row: 1;

  }

  .footerNavLinks {
    font-size: 8px;
    grid-column: 1 / 2;
    gap: 10px;
  }

  #footerExperiences {
    display: none;
    flex-direction: column;
    padding-right: 25px;

  }

  #footerPlaces {
    display: none;
    flex-direction: column;
    padding-right: 25px;
  }

  #footerAbout {
    display: none;
    flex-direction: column;
    padding-right: 25px;
  }

  #footerContact {
    padding-right: 5px;
    font-size: 8px;

  }

  #footerSocialMedia {
    color: white;
    width: fit-content;
    place-self: center;
  }

  .rrss-selector {
    width: 25%;
  }

  .footerLinks {
    font-size: xx-small;
  }

  .footerEquipment {
    display: flex;
    font-size: 8px;
    padding: 0;
  }
  .footerEmail {
    padding-top: 5px;
    padding-left: 10px;
  }
  .footerList {
    padding: 5px;
  }
}

@media screen and (min-width:500px) and (max-width: 900px) {

  .footer {
    color: white;
    background-color: rgb(50, 59, 56);

  }

  .headerFooter {
    display: grid;
    grid-template-columns: 125px 115px 60px;
    grid-template-rows: 120px 120px 120px;
    padding-left: 10px;
  }

  #footerHeader {
    font-family: BioRhyme Expanded;
    font-size: 9px;
    text-transform: lowercase;
    grid-column: 1;
    grid-row: 1;

  }

  .footerNavLinks {
    font-size: 8px;
    grid-column: 2 / 3;
    justify-content: stretch;
  }

  #footerExperiences {
    display: none;
    flex-direction: column;
    padding-right: 25px;

  }

  #footerPlaces {
    display: none;
    flex-direction: column;
    padding-right: 25px;
  }

  #footerAbout {
    flex-direction: column;
    padding-right: 25px;
  }

  #footerContact {
    flex-direction: column;
    padding-right: 5px;
    font-size: 8px;

  }

  #footerSocialMedia {
    justify-content: space-evenly;
    color: white;
    grid-column: 1;
    grid-row: 2;
  }

  .rrss-selector {
    width: 65%;
    height: auto;
  }

  #footerLegal {
    justify-items: stretch;
    align-content: stretch;
  }

  .footerEquipment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
  }
}

@media screen and (min-width:900px) and (max-width:1150px) {

  .footer {
    color: white;
    background-color: rgb(50, 59, 56);

  }

  .headerFooter {
    display: grid;
    grid-template-columns: 125px 115px 60px;
    grid-template-rows: 120px 120px 120px;
    padding-left: 10px;
  }

  #footerHeader {
    font-family: BioRhyme Expanded;
    text-transform: lowercase;
    font-size: medium;
    grid-column: 1;
    grid-row: 1;

  }

  .footerNavLinks {
    font-size: 10px;
    grid-column: 2 / 3;
    justify-content: stretch;
  }

  #footerExperiences {
    flex-direction: column;
    padding-right: 25px;

  }

  #footerPlaces {
    flex-direction: column;
    padding-right: 25px;
  }

  #footerAbout {
    flex-direction: column;
    padding-right: 25px;
  }

  #footerContact {
    flex-direction: column;
    padding-right: 5px;
  }

  #footerSocialMedia {
    justify-content: space-evenly;
    color: white;
    grid-column: 1;
    grid-row: 2;
  }

  .rrss-selector {
    width: 75%;
    height: auto;
  }

  #footerLegal {
    justify-items: stretch;
    align-content: stretch;
  }

  .footerEquipment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width:1150px) {

  .footer {
    color: white;
    background-color: rgb(50, 59, 56);

  }

  .headerFooter {
    display: grid;
    grid-template-columns: 125px 115px 60px;
    grid-template-rows: 120px 120px 120px;
    padding-left: 10px;
  }

  #footerHeader {
    font-family: BioRhyme Expanded;
    text-transform: lowercase;
    font-size: medium;
    grid-column: 1;
    grid-row: 1;

  }

  .footerNavLinks {
    font-size: small;
    grid-column: 2 / 3;
    justify-content: stretch;
  }

  #footerSocialMedia {
    justify-content: space-evenly;
    color: white;
    gap: 5px;
    grid-column: 1;
    grid-row: 2;
  }

  .rrss-selector {
    width: 100%;
    height: auto;
  }

  #footerLegal {
    justify-items: stretch;
    align-content: stretch;
  }

  .footerEquipment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
