.data {
  /* display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px; */
  margin: 30px;
}

#datos {
  margin: 30px;
}

#bookingsTitleProfile {
  margin: 30px;

}

.allPersonalData {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
  border: solid black 1px;
  width: 500px;
}

.personalData {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

button {
  /* width: 150px;
  height: 30px; */
  cursor: pointer;
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.email {
  text-decoration: underline;
  color: rgb(58, 58, 202);
  font-size:small ;
}
/* button .editar-link {
  text-decoration: none;
  color: brown;
} */

#bookingsProfiledata {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: space-around;
  gap: 25px;
  border: 1px solid black;
 
}
.articles-bookings-profile {
  text-align: center;
}
