.articles {
  display: table;
  width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: rgb(248, 234, 234);
  box-shadow: 10px 5px 5px black;
  border-radius: 10px;
  text-transform: capitalize;
}

.fila {
  display: table-row;
}

.columna {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid white;
}

.buttons {
  width: 200px;
}

.button-link {
  text-decoration: none;
  background-color: rgba(47,60,56,255);
  border-radius: 5px;
  padding: 5px;
  color: black;
  border: 1px solid grey;
}

.button-delete {
  text-decoration: none;
  background-color: rgba(47,60,56,255);
  border-radius: 5px;
  padding: 5px;
  color: white;
  width: fit-content;
  border: 1px solid grey;
}

#messageNoBookings {
  padding: 20px;
  text-align: center;
}
